@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Nunito+Sans:ital,wght@1,300&display=swap');

html, body {height: 100% !important}
body
{
  display:flex;
  align-items:center;
  justify-content: center;
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Comfortaa", sans-serif;
  background:url("https://www.xmple.com/wallpaper/dots-polka-pink-spots-white-1920x1080-c2-ffb6c1-ffffff-l2-31-86-a-330-f-3.svg");
}
#name{
    color: #FF3399;
}
/* #title1{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top: 5px;
} */
.award {
    width:400px;
    height:280px;
}
#title
{
    color: #4DA6FF;
    border-top:solid 1px #cbb4f5;
    border-bottom:solid 1px #cbb4f5;
    padding: 5px;
}
#extra{
    color: #4DA6FF;
    border-top:solid 1px #cbb4f5;
    border-bottom:solid 1px #cbb4f5;
    padding: 5px;
}
#extra-desc{
   border-bottom: 1px solid #cbb4f5;
   font-family: "Comfortaa", sans-serif;
}
#ed-desc
{
    color: #4DA6FF
        border-bottom: 1px solid #cbb4f5;
    font-style: none;
    display:none;

}
h1
{
    color: crimson;
}

#button 
{
    background-color: thistle;
    font-family: fantasy;
}
#experience
{
    color: #4DA6FF;
    border-top:solid 1px #cbb4f5;
    border-bottom:solid 1px #cbb4f5;
    padding: 5px;
}

#exp-desc
{
    border-bottom: 1px solid #cbb4f5;
    font-style: none;

}
#skills
{
    color: #4DA6FF;
    border-top:solid 1px #cbb4f5;
    border-bottom:solid 1px #cbb4f5;
    padding: 5px;
}
#skill-desc
{
    border-bottom: 1px solid #cbb4f5;
    font-style: none;

}
#awards
{
    color: #4DA6FF;
    border-top:solid 1px plum;
    border-bottom:solid 1px plum;
    padding: 5px;
}

#award-desc
{
    border-bottom: 1px solid plum;
    font-style: none;

}
#gallery
{
    color: #4DA6FF;
    border-top:solid 1px plum;
    border-bottom:solid 1px plum;
    padding: 5px;
}
#gallery2{
    color: #4DA6FF;
    border-top:solid 1px plum;
    border-bottom:solid 1px plum;
    padding: 5px;
    display:flex;
    justify-content: space-around;
}
#gallery-desc
{
    border-bottom: 1px solid plum;
    font-style: none;
    font-size: 10px;
    display:flex;
    flex-wrap:wrap;
}
#everything 
{
    backdrop-filter: blur(6px);
    display:flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 13px;
    box-shadow: 0px -10px 60px rgb(230,255,251)
    max-height:60%;
}

#contact
{
    padding: 5px;
    display: inline-block;
    background: transparent;
    border: 5px solid white;
    backdrop-filter: contrast(100%);
    @import url(https://fonts.googleapis.com/css?family=Short-Stack’);
    border-radius:20px;
    padding:7px;
    color:#4DA6FF;
}

.text
{
    color: #4DA6FF;

}
li{
    font-size:15px;
    color: #4DA6FF;
}
@media only screen and (max-width:600px){
    body{
        font-size:10px;
    }
    .title
{
    font-size:15px;
}
#images img
{
    width:116px;
    height:118px;
}
#contact
{
    display:block;
}
}

